<h1><%= @user.name %></h1>
<h3>Reports: </h3>
<% if @user.reports.empty? %>
    <p>No reports yet</p>
<% else %>
    <% @user.reports.each do |report| %>
        <p><%= report.date %> - <%= report.client.name %> - <%= report.rating %></p>
    <% end %>
<% end %>
